@charset "UTF-8";

body {
    line-height: 135%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 24pt;
    margin-top: 1rem;
    margin-left: 1rem;
    text-align: center;
}

.switcher {
    margin: 1rem;
}

.container-month {
    margin-left: 10%;
    width: 80%;
    min-width: 640px;
}

.container-year {
    margin-left: 5%;
    width: 90%;
    min-width: 640px;
}

.container ul {
    width: 100%;
    padding-left: 1rem; /* デフォルトが40pxに設定されているで上書きする */
}

/* 前の月、次の月 */
.container ul.navi {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container ul.navi li {
    display: inline-block;
    width: 30%;
}

.container ul.navi li.year {
    text-align: center;
}

.container ul.navi li.next {
    text-align: right;
}

/* 曜日の表示 */
.container ul.day-of-week-header li {
    display: inline-block;
    border-top: #BBBBBB 1px solid;
    border-left: #BBBBBB 1px solid;
    border-bottom: #BBBBBB 1px solid;
    width: 13%;
    text-align: center;
    padding: 0.4rem 0;
}

/* 日曜日 */
li.sunday {
    background-color: #FFDDDD;
}

/* 土曜日 */
li.saturday {
    background-color: #DDDDFF;
}

/* 週の終わり */
.container ul li.last-day-of-week {
    border-right: #BBBBBB 1px solid;
}

/* 日付マス */
.container ul.week {
    margin: 0;
}

.container ul.week li {
    display: inline-block;
    border-top: #BBBBBB 1px solid;
    border-left: #BBBBBB 1px solid;
    width: 13%;
}

.container-month ul.week li div.date {
    padding: 0.4rem 1rem;
    font-size: 14pt;
}

.container ul.week li.sunday {
    background-color: #FFEEEE;
}

.container ul.week li.saturday {
    background-color: #EEEEFF;
}

/* 日付マス 一番下のマス */
.container ul.week li.last-week {
    border-bottom: #BBBBBB 1px solid;
}

/* 年間カレンダー */
.container-year .year-row {
    font-size: 12pt;
}

.container-year div.year-row div.month-container {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-bottom: 1rem;
}

.container-year div.year-row div.month-container div.month-name {
    text-align: center;
    font-size: 14pt;
    margin: 0.4rem;
}

.container-year ul.week li div.date {
    padding: 0.2rem 0.5rem;
    font-size: 12pt;
}

/* エラー画面 */
div.error {
    margin: 1rem;
    color: lightcoral;
}
